@keyframes coin-flip{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }
    100%{
        transform: none;
    }
}
@keyframes btn-up{
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.nav-bar{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(249, 249, 250);
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    bottom: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-bar__column__icon{
    font-size: 25px;
}
.nav-bar__column{
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    animation: btn-up 0.5s ease-in-out forwards;
}
.nav-bar__column:nth-child(2){
    animation-delay: 0.3s;
}
.nav-bar__column:nth-child(3){
    animation-delay: 0.6s;
}
.nav-bar__column:last-child{
    animation-delay: 0.9s;
}
.nav-bar__column__alert,
.nav-bar__column__dot{
    position: absolute;
}
.nav-bar__column__alert{
    background-color: tomato;
    color: white;
    font-size: 12px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -7px;
    top: -3px;
    animation: coin-flip 2s ease-in-out infinite;
}
.nav-bar__column__dot{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -7px;
    top: -3px;
}