@keyframes rotate{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.page-header{
    margin-top: 21px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px var(--basic-padding);
    background-color: white;
}
.page-header__column{
    display: flex;
}
.page-header__column__title{
    font-size: 27px;
    font-weight: 700;
}
.page-header__column__icon{
    font-size: 22px;
    margin-left: 20px;
    position: relative;
}
.page-header__column__icon .fa-cog:hover{
animation: rotate 2s linear infinite;
}
.page-header__column__icon__dot{
    position: absolute;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -7px;
    top: -7px;
}