/*setting*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "setting/reset.css";
@import "setting/var.css";

/*Component*/
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/header-bar.css";

@keyframes fade-in-up{
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@keyframes fade-in-right{
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@keyframes fade-in-left{
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    background-color: rgb(171, 194, 209);
    height: 200vh;
    overflow-x: hidden;
}
.Main-Screen{
    margin-top: 79px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--basic-padding);
    width: 100%;
}
.chat-time-bar{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 6px 10px;
    border-radius: 13px/50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    animation: fade-in-up 0.8s linear;
}
.chat-time-bar__text{
    color: white;
    font-size: 12px;
}
.chatting-part{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.someone-chat,
.my-chat{
    display: flex;
}
.someone-chat{
    opacity: 0;
    animation: fade-in-left 0.8s linear forwards;
    animation-delay: 0.8s;
}
.my-chat{
    opacity: 0;
    justify-content: flex-end;
    animation: fade-in-right 0.8s linear forwards;
    animation-delay: 1.6s;
}
.someone-chat__img{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 10px;
}
.someone-chat__img img{
    width: 40px;
}
.someone-chat__text-box{
    display: flex;
    flex-direction: column;
}
.someone-chat__text-box__name{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    margin-bottom: 10px;
}
.someone-chat__text-box__box,
.my-chat__text-box__box{
    display: flex;
    align-items: flex-end;
}
.someone-chat__text-box__chat-box,
.my-chat__text-box__chat-box{
    padding: 10px;
    border-radius: 10px;
}
.someone-chat__text-box__chat-box{
    background-color: white;
    border-top-left-radius: 0px;
    margin-right: 10px;
}
.my-chat__text-box__chat-box{
    background-color: var(--main-color);
    border-top-right-radius: 0px;
    margin-left: 10px;
    order: 1;
}
.someone-chat__text-box__chat-box__time,
.my-chat__text-box__chat-box__time{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    order: 0;
}

.chat-input{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: white;
    padding: 5px 10px;
    justify-content: space-between;
    transition: all 0.3 ease-in-out;
}
.chat-input__clip,
.chat-input__box__emo,
.chat-input__box__up{
    background-color: white;
    border: none;
    font-size: 27px;
    color: rgba(0, 0, 0, 0.5);
}
.chat-input__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: rgb(240, 240, 240);
    padding: 3px 3px 3px 10px;
    border-radius: 20px/50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
.btn-box{
    display: flex;
    align-items: center;
}
.chat-input__box__input,
.chat-input__box__emo,
.chat-input__box__up{
    border: none;
    background-color: rgb(240, 240, 240);
}
.chat-input__box__input{
    margin-left: 10px;
    font-size: 20px;
    width: 90%;
}
.chat-input__box__up{
    background-color: var(--main-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: rgba(0, 0, 0, 1);
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.chat-input__clip,
.btn-box{
    transition: all 0.3s ease-in-out;
}

.chat-input:focus-within .chat-input__clip,
.chat-input:focus-within .btn-box{
    opacity: 0;
    visibility: hidden;
}
.chat-input:focus-within .chat-input__box{
    width: 100%;
    transform: translateX(-10%) translateY(-80px);
}
.chat-input:focus-within{
    transform: translateY(80px);
}