/*setting*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "setting/reset.css";
@import "setting/var.css";

/*Component*/
@import "component/status-bar.css";
@import "component/page-header.css";
@import "component/user-info-bar.css";

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
}
.friends-display-alert{
    position: fixed;
    margin-top: 100px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 0px;
}
.friends-display-alert__icon{
    opacity: 0.3;
    font-size: 15px;
}
.friends-display-alert__icon:last-child{
    font-size: 10px;
}
.friends-display-alert__text{
    font-size: 13px;
    font-weight: 600;
    margin: 0px 5px;
}

.Main-Screen{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    padding: var(--basic-padding);
    width: 100%;
}

.channel-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    opacity: 0.5;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: var(--basic-padding) 0px;
}
.nav-bar{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(249, 249, 250);
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    bottom: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-bar__column__icon{
    font-size: 25px;
}
.nav-bar__column{
    position: relative;
}
.nav-bar__column__alert,
.nav-bar__column__dot{
    position: absolute;
}
.nav-bar__column__alert{
    background-color: tomato;
    color: white;
    font-size: 12px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -7px;
    top: -3px;
}
.nav-bar__column__dot{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -7px;
    top: -3px;
}